<script id="template" type="text/x-handlebars-template">
    {{#.}}
  <li class="slider__card">
    <div style="background-image:url({{backgroundImage}})" class="slider__cardHeader"><img src="{{picture}}" class="slider__cardHeaderImage"/>
      <h1 class="slider__cardHeaderTitle">{{todaygames}}</h1>
    </div>
    <div class="slider__cardContent">
      <p>{{about}}</p>
      <div class="slider__cardMeta">{{registered}}</div>
    </div>
  </li>
  {{/.}}
</script>