<section class="card">
    <h2>{{team_name}}</h2>
    <p class="team-owner">{{user.username}}</p>
    <p class="card-score">41</p>
    {{#each players}}
    <p>{{position}} - {{full_name}} {{playerStats nhl_id}}</p>
    {{/each}}    
</section>